/* Formular */

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-black-webfont.woff2') format('woff2'),
    url('formular/formular-black-webfont.woff') format('woff'),
    url('formular/formular-black-webfont.ttf') format('truetype'),
    url('formular/formular-black-webfont.svg#formularblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-blackitalic-webfont.woff2') format('woff2'),
    url('formular/formular-blackitalic-webfont.woff') format('woff'),
    url('formular/formular-blackitalic-webfont.ttf') format('truetype'),
    url('formular/formular-blackitalic-webfont.svg#formularblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-bold-webfont.woff2') format('woff2'),
    url('formular/formular-bold-webfont.woff') format('woff'),
    url('formular/formular-bold-webfont.ttf') format('truetype'),
    url('formular/formular-bold-webfont.svg#formularbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-bolditalic-webfont.woff2') format('woff2'),
    url('formular/formular-bolditalic-webfont.woff') format('woff'),
    url('formular/formular-bolditalic-webfont.ttf') format('truetype'),
    url('formular/formular-bolditalic-webfont.svg#formularbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-italic-webfont.woff2') format('woff2'),
    url('formular/formular-italic-webfont.woff') format('woff'),
    url('formular/formular-italic-webfont.ttf') format('truetype'),
    url('formular/formular-italic-webfont.svg#formularitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-light-webfont.woff2') format('woff2'),
    url('formular/formular-light-webfont.woff') format('woff'),
    url('formular/formular-light-webfont.ttf') format('truetype'),
    url('formular/formular-light-webfont.svg#formularlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-lightitalic-webfont.woff2') format('woff2'),
    url('formular/formular-lightitalic-webfont.woff') format('woff'),
    url('formular/formular-lightitalic-webfont.ttf') format('truetype'),
    url('formular/formular-lightitalic-webfont.svg#formularlight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-medium-webfont.woff2') format('woff2'),
    url('formular/formular-medium-webfont.woff') format('woff'),
    url('formular/formular-medium-webfont.ttf') format('truetype'),
    url('formular/formular-medium-webfont.svg#formularmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Formular';
    src: url('formular/formular-mediumitalic-webfont.woff2') format('woff2'),
    url('formular/formular-mediumitalic-webfont.woff') format('woff'),
    url('formular/formular-mediumitalic-webfont.ttf') format('truetype'),
    url('formular/formular-mediumitalic-webfont.svg#formularmedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('formular/formular-webfont.woff2') format('woff2'),
    url('formular/formular-webfont.woff') format('woff'),
    url('formular/formular-webfont.ttf') format('truetype'),
    url('formular/formular-webfont.svg#formularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* Roboto Mono */
@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-MediumItalic.eot');
    src: url('robotomono/subset-RobotoMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-MediumItalic.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-MediumItalic.woff') format('woff'),
    url('robotomono/subset-RobotoMono-MediumItalic.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-MediumItalic.svg#RobotoMono-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-Bold.eot');
    src: url('robotomono/subset-RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-Bold.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-Bold.woff') format('woff'),
    url('robotomono/subset-RobotoMono-Bold.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-Bold.svg#RobotoMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-Medium.eot');
    src: url('robotomono/subset-RobotoMono-Medium.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-Medium.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-Medium.woff') format('woff'),
    url('robotomono/subset-RobotoMono-Medium.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-Medium.svg#RobotoMono-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-LightItalic.eot');
    src: url('robotomono/subset-RobotoMono-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-LightItalic.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-LightItalic.woff') format('woff'),
    url('robotomono/subset-RobotoMono-LightItalic.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-LightItalic.svg#RobotoMono-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-ExtraLightItalic.eot');
    src: url('robotomono/subset-RobotoMono-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-ExtraLightItalic.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-ExtraLightItalic.woff') format('woff'),
    url('robotomono/subset-RobotoMono-ExtraLightItalic.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-ExtraLightItalic.svg#RobotoMono-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-ExtraLight.eot');
    src: url('robotomono/subset-RobotoMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-ExtraLight.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-ExtraLight.woff') format('woff'),
    url('robotomono/subset-RobotoMono-ExtraLight.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-ExtraLight.svg#RobotoMono-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-BoldItalic.eot');
    src: url('robotomono/subset-RobotoMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-BoldItalic.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-BoldItalic.woff') format('woff'),
    url('robotomono/subset-RobotoMono-BoldItalic.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-BoldItalic.svg#RobotoMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-SemiBoldItalic.eot');
    src: url('robotomono/subset-RobotoMono-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-SemiBoldItalic.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-SemiBoldItalic.woff') format('woff'),
    url('robotomono/subset-RobotoMono-SemiBoldItalic.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-SemiBoldItalic.svg#RobotoMono-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-Light.eot');
    src: url('robotomono/subset-RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-Light.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-Light.woff') format('woff'),
    url('robotomono/subset-RobotoMono-Light.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-Light.svg#RobotoMono-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-Regular.eot');
    src: url('robotomono/subset-RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-Regular.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-Regular.woff') format('woff'),
    url('robotomono/subset-RobotoMono-Regular.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-Regular.svg#RobotoMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-Italic.eot');
    src: url('robotomono/subset-RobotoMono-Italic.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-Italic.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-Italic.woff') format('woff'),
    url('robotomono/subset-RobotoMono-Italic.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-Italic.svg#RobotoMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-SemiBold.eot');
    src: url('robotomono/subset-RobotoMono-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-SemiBold.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-SemiBold.woff') format('woff'),
    url('robotomono/subset-RobotoMono-SemiBold.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-SemiBold.svg#RobotoMono-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-ThinItalic.eot');
    src: url('robotomono/subset-RobotoMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-ThinItalic.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-ThinItalic.woff') format('woff'),
    url('robotomono/subset-RobotoMono-ThinItalic.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-ThinItalic.svg#RobotoMono-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('robotomono/subset-RobotoMono-Thin.eot');
    src: url('robotomono/subset-RobotoMono-Thin.eot?#iefix') format('embedded-opentype'),
    url('robotomono/subset-RobotoMono-Thin.woff2') format('woff2'),
    url('robotomono/subset-RobotoMono-Thin.woff') format('woff'),
    url('robotomono/subset-RobotoMono-Thin.ttf') format('truetype'),
    url('robotomono/subset-RobotoMono-Thin.svg#RobotoMono-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}